* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Copperplate Gothic Light";
}

.container {
    width: 100vw;
    height: 100vh;
    // border: 2px solid green;
    display: flex;

    .loadingpage {
        .tophalf {
            position: absolute;
            height: 50vh;
            width: 100vw;
            background-color: white;
        }

        .monopolyhead {
            position: absolute;
            height: 200px;
            width: 200px;
            background-image: url("./images/monopolyhead.png");
            background-size: contain;
            background-repeat: no-repeat;
            top: 50%;
            transform: translate(-100%, -50%);
            z-index: 3;

            .welcomemessage {
                position: absolute;
                width: 50vw;
                top: 60%;
                left: 120%;
                font-size: 28px;
            }

            .myButton {
                box-shadow:inset 0px 1px 0px 0px #ffffff;
                background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
                background-color:#ffffff;
                border-radius:6px;
                border:1px solid #dcdcdc;
                display:inline-block;
                cursor:pointer;
                color:#666666;
                font-family:Arial;
                font-size:19px;
                font-weight:bold;
                padding:6px 24px;
                text-decoration:none;
                text-shadow:0px 1px 0px #ffffff;
                position: absolute;
                top: 110%;
                left: 35%;
            }
            .myButton:hover {
                background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
                background-color:#f6f6f6;
            }
            // .myButton:active {
            //     position:relative;
            //     top:1px;
            // }
            
        }

        .lowerhalf {
            position: absolute;
            bottom:0 ;
            height: 50vh;
            width: 100vw;
            background-color: white;
        }
    }

    .questionarea {
        height: 100%;
        width: 70%;
        // border: 2px solid blue;
        background-image: url("./images/backgroundimage.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;

        .title {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 34px;
            font-weight:bold;
            height: 20%;
            width: 100%;
            color: white;
            // border: 2px solid black;

            .logo {
                height: 150px;
                width: 15%;
                background-image: url("./images/logo.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .questionssection {
            height: 80%;
            width: 100%;
            // border: 2px solid green;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .questionbox {
                width: 100%;
                height: 30%;
                background-image: url(./images/Questionboxes.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                // border: 2px solid bisque;
                display: flex;
                justify-content: center;
                align-items: center;

                .monopolyquestionhead {
                    height: 165px;
                    width: 200px;
                    background-image: url("./images/monopolyhead.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .messagearea {
                    color: white;
                    width: 45%;
                    font-size: 24px;
                }
            }

            .answersbox {
                width: 100%;
                height: 50%;
                // border: 2px solid orange;
                // background-image: url("./images/answerBoxes.png");
                // background-size: cover;
                // background-position: center;
                // background-repeat: no-repeat;
                display: grid;
                grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
                grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
                grid-gap: 10px;

                #answer1, #answer2, #answer3, #answer4 {
                    font-size: 24px;
                    opacity: 0;
                }

                div {
                    color: white;
                    border: 5px solid #5cabe3;
                    background-color: black;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .nostyles {
                    background-color: none;
                }

                .selectedstyle {
                    background-color: yellow;
                    color: black;
                }


                .correctanswer {
                    background-color: green;
                }

                .incorrectanswer {
                    background-color: red;
                    color:black;
                }

                #answer1 {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }

                #answer2 {
                    grid-column: 3 / 4;
                    grid-row: 2 / 3;
                }

                #answer3 {
                    grid-column: 2 / 3;
                    grid-row: 3 / 4;
                }

                #answer4 {
                    grid-column: 3 / 4;
                    grid-row: 3 / 4;
                }
            }

            .submitarea {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 80%;
                height: 15%;

                .progressbar {
                    width: 80%;
                    margin: 25px auto;
                }
                
                .progressbar .inner {
                    border: solid 1px #000;
                    opacity: 1;
                    height: 15px;
                    animation: progressbar-countdown;
                    /* Placeholder, this will be updated using javascript */
                    animation-duration: 40s;
                    /* We stop in the end */
                    animation-iteration-count: 1;
                    /* Stay on pause when the animation is finished finished */
                    animation-fill-mode: forwards;
                    /* We start paused, we start the animation using javascript */
                    animation-play-state: paused;
                    /* We want a linear animation, ease-out is standard */
                    animation-timing-function: linear;
                }
                
                @keyframes progressbar-countdown {
                0% {
                    width: 100%;
                    background: #0F0;
                }
                100% {
                    width: 0%;
                    background: #F00;
                }
                }
            }
        }
    }

    .scoresarea {
        height: 100%;
        width: 30%;
        background-color: black;
        border-left: 2px solid white;
        color: white;
        // border: 2px solid blue;

        div {
            text-align: center;
        }

        .scores {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            // align-items: center;
            // border: 2px solid blue;

            .all {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;

                .scorestyle {
                    background-color: greenyellow;
                    color: black;
                    border: 2px solid white;
                    font-weight: bold;
                }

                div {
                    width: 70%;
                    height: 30px;
                    text-align: left;
                    margin: 5px;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                }
            }
        }

        .lifelines {
            width: 100%;
            height: 30%;
            // border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .lloptions {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                div{
                    height: 55px;
                    width: 65px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .fifty50 {
                    background-image: url("./images/Classic5050.png");
                }

                .audience {
                    background-image: url("./images/ClassicATA.png");
                }

                .paf {
                    background-image: url("./images/ClassicPAF.png");
                }
                
            }
        }
    }
}

button {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    padding: 15px 30px;
    background-color: #000000;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #5CABE3 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    outline:none;

    &:hover {
        border: solid #337FED 3px;
        background: #5CABE3;
        background-image: -webkit-linear-gradient(top, #5CABE3, #2364AD);
        background-image: -moz-linear-gradient(top, #5CABE3, #2364AD);
        background-image: -ms-linear-gradient(top, #5CABE3, #2364AD);
        background-image: -o-linear-gradient(top, #5CABE3, #2364AD);
        background-image: linear-gradient(to bottom, #5CABE3, #2364AD);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        text-decoration: none;
    }
}