* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

.container {
    width: 80vw;
    height: 80vh;
    border: 2px solid green;
    display: flex;

    .questionarea {
        height: 100%;
        width: 70%;
        border: 2px solid blue;
        text-align: center;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 38px;
            font-weight:bold;
            height: 20%;
            width: 100%;
            border: 2px solid black;
        }

        .questionssection {
            height: 80%;
            width: 100%;
            border: 2px solid green;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .questionbox {
                width: 80%;
                height: 30%;
                border: 2px solid bisque;
            }

            .answersbox {
                width: 80%;
                height: 50%;
                border: 2px solid orange;
                display: grid;
                grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
                grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
                grid-gap: 10px;

                div {
                    border: 2px solid green;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #answer1 {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }

                #answer2 {
                    grid-column: 3 / 4;
                    grid-row: 2 / 3;
                }

                #answer3 {
                    grid-column: 2 / 3;
                    grid-row: 3 / 4;
                }

                #answer4 {
                    grid-column: 3 / 4;
                    grid-row: 3 / 4;
                }
            }

            .submitarea {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: 10%;
                border: 2px solid blueviolet;

                .submit {
                    height: 80%;
                    width: 30%;
                }
            }
        }
    }

    .scoresarea {
        height: 100%;
        width: 30%;
        border: 2px solid blue;
    }
}