* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Copperplate Gothic Light";
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .loadingpage .tophalf {
  position: absolute;
  height: 50vh;
  width: 100vw;
  background-color: white;
}

.container .loadingpage .monopolyhead {
  position: absolute;
  height: 200px;
  width: 200px;
  background-image: url("./images/monopolyhead.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  z-index: 3;
}

.container .loadingpage .monopolyhead .welcomemessage {
  position: absolute;
  width: 50vw;
  top: 60%;
  left: 120%;
  font-size: 28px;
}

.container .loadingpage .monopolyhead .myButton {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
          box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffffff), to(#f6f6f6));
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  position: absolute;
  top: 110%;
  left: 35%;
}

.container .loadingpage .monopolyhead .myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f6f6f6), to(#ffffff));
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.container .loadingpage .lowerhalf {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  background-color: white;
}

.container .questionarea {
  height: 100%;
  width: 70%;
  background-image: url("./images/backgroundimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.container .questionarea .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  font-weight: bold;
  height: 20%;
  width: 100%;
  color: white;
}

.container .questionarea .title .logo {
  height: 150px;
  width: 15%;
  background-image: url("./images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container .questionarea .questionssection {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .questionarea .questionssection .questionbox {
  width: 100%;
  height: 30%;
  background-image: url(./images/Questionboxes.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .questionarea .questionssection .questionbox .monopolyquestionhead {
  height: 165px;
  width: 200px;
  background-image: url("./images/monopolyhead.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.container .questionarea .questionssection .questionbox .messagearea {
  color: white;
  width: 45%;
  font-size: 24px;
}

.container .questionarea .questionssection .answersbox {
  width: 100%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 2fr 0.5fr;
      grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  -ms-grid-rows: 0.5fr 2fr 2fr 0.5fr;
      grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
  grid-gap: 10px;
}

.container .questionarea .questionssection .answersbox #answer1, .container .questionarea .questionssection .answersbox #answer2, .container .questionarea .questionssection .answersbox #answer3, .container .questionarea .questionssection .answersbox #answer4 {
  font-size: 24px;
  opacity: 0;
}

.container .questionarea .questionssection .answersbox div {
  color: white;
  border: 5px solid #5cabe3;
  background-color: black;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .questionarea .questionssection .answersbox .nostyles {
  background-color: none;
}

.container .questionarea .questionssection .answersbox .selectedstyle {
  background-color: yellow;
  color: black;
}

.container .questionarea .questionssection .answersbox .correctanswer {
  background-color: green;
}

.container .questionarea .questionssection .answersbox .incorrectanswer {
  background-color: red;
  color: black;
}

.container .questionarea .questionssection .answersbox #answer1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .questionarea .questionssection .answersbox #answer2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .questionarea .questionssection .answersbox #answer3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.container .questionarea .questionssection .answersbox #answer4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.container .questionarea .questionssection .submitarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 15%;
}

.container .questionarea .questionssection .submitarea .submit {
  border-radius: 100px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  padding: 15px 30px;
  background-color: #000000;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #5CABE3 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.container .questionarea .questionssection .submitarea .submit:hover {
  border: solid #337FED 3px;
  background: #5CABE3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5CABE3), to(#2364AD));
  background-image: linear-gradient(to bottom, #5CABE3, #2364AD);
  border-radius: 100px;
  text-decoration: none;
}

.container .scoresarea {
  height: 100%;
  width: 30%;
  background-color: black;
  border-left: 2px solid white;
  color: white;
}

.container .scoresarea div {
  text-align: center;
}

.container .scoresarea .scores {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .scoresarea .scores .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .scoresarea .scores .all .scorestyle {
  background-color: greenyellow;
  color: black;
  border: 2px solid white;
  font-weight: bold;
}

.container .scoresarea .scores .all div {
  width: 70%;
  height: 30px;
  text-align: left;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.container .scoresarea .lifelines {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .scoresarea .lifelines .lloptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .scoresarea .lifelines .lloptions div {
  height: 55px;
  width: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container .scoresarea .lifelines .lloptions .fifty50 {
  background-image: url("./images/Classic5050.png");
}

.container .scoresarea .lifelines .lloptions .audience {
  background-image: url("./images/ClassicATA.png");
}

.container .scoresarea .lifelines .lloptions .paf {
  background-image: url("./images/ClassicPAF.png");
}
/*# sourceMappingURL=styles.css.map */