* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}

.container {
  width: 90vw;
  height: 90vh;
  border: 2px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .questionarea {
  height: 100%;
  width: 70%;
  border: 2px solid blue;
  text-align: center;
}

.container .questionarea .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 38px;
  font-weight: bold;
  height: 20%;
  width: 100%;
  border: 2px solid black;
}

.container .questionarea .questionssection {
  height: 80%;
  width: 100%;
  border: 2px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .questionarea .questionssection .questionbox {
  width: 80%;
  height: 30%;
  border: 2px solid bisque;
}

.container .questionarea .questionssection .answersbox {
  width: 80%;
  height: 50%;
  border: 2px solid orange;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 2fr 0.5fr;
      grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  -ms-grid-rows: 0.5fr 2fr 2fr 0.5fr;
      grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
  grid-gap: 10px;
}

.container .questionarea .questionssection .answersbox div {
  border: 2px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .questionarea .questionssection .answersbox .nostyles {
  background-color: none;
}

.container .questionarea .questionssection .answersbox .selectedstyle {
  background-color: yellow;
}

.container .questionarea .questionssection .answersbox .correctanswer {
  background-color: green;
}

.container .questionarea .questionssection .answersbox .incorrectanswer {
  background-color: red;
}

.container .questionarea .questionssection .answersbox #answer1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .questionarea .questionssection .answersbox #answer2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .questionarea .questionssection .answersbox #answer3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.container .questionarea .questionssection .answersbox #answer4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.container .questionarea .questionssection .submitarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 10%;
  border: 2px solid blueviolet;
}

.container .questionarea .questionssection .submitarea .submit {
  height: 80%;
  width: 30%;
}

.container .scoresarea {
  height: 100%;
  width: 30%;
  border: 2px solid blue;
}

.container .scoresarea div {
  text-align: center;
}

.container .scoresarea .scores {
  width: 100%;
  height: 70%;
  border: 2px solid blue;
}

.container .scoresarea .scores .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .scoresarea .scores .all div {
  width: 90%;
  height: 5%;
  border: 2px solid green;
  margin: 2px;
}

.container .scoresarea .lifelines {
  width: 100%;
  height: 30%;
  border: 2px solid black;
}
/*# sourceMappingURL=styles.css.map */