* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Abel';
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .tophalf {
  position: absolute;
  height: 50vh;
  width: 100vw;
  background-color: white;
}

.container .lowerhalf {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  background-color: white;
}

.container .loadingpage {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .loadingpage .loadingmessages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .loadingpage .loadingmessages .welcomemessage {
  width: 50vw;
  top: 60%;
  left: 120%;
  font-size: 28px;
}

.container .loadingpage .loadingmessages .monopolyhead {
  height: 200px;
  width: 20%;
  background-image: url("./images/monopolyhead.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
}

.container .loadingpage .myButton {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
          box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffffff), to(#f6f6f6));
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  padding: 6px 54px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 25px;
  opacity: 0;
}

.container .loadingpage .myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f6f6f6), to(#ffffff));
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.container .questionarea {
  height: 100%;
  width: 70%;
  background-image: url("./images/backgroundimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.container .questionarea .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  font-weight: bold;
  height: 20%;
  width: 100%;
  color: white;
}

.container .questionarea .title .logo {
  height: 150px;
  width: 15%;
  background-image: url("./images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container .questionarea .title .Takemoney {
  display: none;
}

.container .questionarea .title .play_again {
  display: none;
}

.container .questionarea .questionssection {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .questionarea .questionssection .questionbox {
  width: 100%;
  height: 29%;
  background-image: url(./images/Questionboxes.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .questionarea .questionssection .questionbox .monopolyquestionhead {
  height: 135px;
  width: 200px;
  background-image: url("./images/monopolyhead.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.container .questionarea .questionssection .questionbox .messagearea {
  color: white;
  width: 45%;
  font-size: 24px;
}

.container .questionarea .questionssection .answersbox {
  width: 100%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 2fr 0.5fr;
      grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  -ms-grid-rows: 0.5fr 2fr 2fr 0.5fr;
      grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
  grid-gap: 10px;
}

.container .questionarea .questionssection .answersbox #answer1, .container .questionarea .questionssection .answersbox #answer2, .container .questionarea .questionssection .answersbox #answer3, .container .questionarea .questionssection .answersbox #answer4 {
  font-size: 24px;
  opacity: 0;
}

.container .questionarea .questionssection .answersbox div {
  color: white;
  border: 5px solid #5cabe3;
  background-color: black;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .questionarea .questionssection .answersbox .nostyles {
  background-color: none;
}

.container .questionarea .questionssection .answersbox .selectedstyle {
  background-color: yellow;
  color: black;
}

.container .questionarea .questionssection .answersbox .correctanswer {
  background-color: green;
}

.container .questionarea .questionssection .answersbox .incorrectanswer {
  background-color: red;
  color: black;
}

.container .questionarea .questionssection .answersbox #answer1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .questionarea .questionssection .answersbox #answer2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .questionarea .questionssection .answersbox #answer3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.container .questionarea .questionssection .answersbox #answer4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.container .questionarea .questionssection .submitarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 20%;
}

.container .questionarea .questionssection .submitarea #progressbar1 {
  height: 8px;
}

.container .questionarea .questionssection .submitarea .progressbar {
  width: 90%;
}

.container .questionarea .questionssection .submitarea .progressbar .inner {
  border: solid 1px #000;
  opacity: 1;
  height: 8px;
  -webkit-animation: progressbar-countdown;
          animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  /* We stop in the end */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: #0F0;
  }
  100% {
    width: 0%;
    background: #F00;
  }
}

@keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: #0F0;
  }
  100% {
    width: 0%;
    background: #F00;
  }
}

.container .scoresarea {
  height: 100%;
  width: 30%;
  background-color: black;
  border-left: 2px solid white;
  color: white;
}

.container .scoresarea div {
  text-align: center;
}

.container .scoresarea .scores {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .scoresarea .scores .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .scoresarea .scores .all .scorestyle {
  background-color: greenyellow;
  color: black;
  border: 2px solid white;
  font-weight: bold;
}

.container .scoresarea .scores .all div {
  width: 70%;
  height: 30px;
  text-align: left;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.container .scoresarea .lifelines {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .scoresarea .lifelines .lloptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .scoresarea .lifelines .lloptions div {
  height: 55px;
  width: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container .scoresarea .lifelines .lloptions .fifty50 {
  background-image: url("./images/Classic5050.png");
}

.container .scoresarea .lifelines .lloptions .audience {
  background-image: url("./images/ClassicATA.png");
}

.container .scoresarea .lifelines .lloptions .paf {
  background-image: url("./images/ClassicPAF.png");
}

.container .scoresarea .lifelines .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

button {
  border-radius: 100px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  padding: 15px 30px;
  background-color: #000000;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #5CABE3 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  outline: none;
}

button:hover {
  border: solid #337FED 3px;
  background: #5CABE3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5CABE3), to(#2364AD));
  background-image: linear-gradient(to bottom, #5CABE3, #2364AD);
  border-radius: 100px;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .container .loadingpage .loadingmessages .welcomemessage {
    font-size: 20px;
  }
  .container .scoresarea {
    display: none;
  }
  .container .questionarea {
    width: 100%;
  }
  .container .questionarea .title .titlemessage {
    display: none;
  }
  .container .questionarea .title .logo {
    width: 60%;
  }
  .container .questionarea .title .Takemoney {
    display: block;
  }
  .container .questionarea .title .play_again {
    display: block;
  }
  .container .questionarea .questionssection .questionbox .monopolyquestionhead {
    width: 160px;
  }
  .container .questionarea .questionssection .questionbox .messagearea {
    font-size: 20px;
  }
  .container .questionarea .questionssection .answersbox #answer1, .container .questionarea .questionssection .answersbox #answer2, .container .questionarea .questionssection .answersbox #answer3, .container .questionarea .questionssection .answersbox #answer4 {
    font-size: 16px;
    opacity: 0;
  }
  .container .questionarea .questionssection .submitarea .lloptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container .questionarea .questionssection .submitarea .lloptions div {
    height: 40px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container .questionarea .questionssection .submitarea .lloptions .fifty50 {
    background-image: url("./images/Classic5050.png");
  }
  .container .questionarea .questionssection .submitarea .lloptions .audience {
    background-image: url("./images/ClassicATA.png");
  }
  .container .questionarea .questionssection .submitarea .lloptions .paf {
    background-image: url("./images/ClassicPAF.png");
  }
}
/*# sourceMappingURL=styles.css.map */